@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

/*Крестик в IE*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 992.98px;
  }
}
@media (max-width: 880px) {
  .wrapper {
    max-width: 767.98px;
  }
}
@media (max-width: 707px) {
  .wrapper {
    max-width: none;
  }
}
img {
  max-width: 100%;
}

body {
  overflow: hidden;
  background-color: #363636;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 6em;
  color: transparent;
  text-transform: uppercase;
}
h2:hover span:nth-child(1) {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}
h2 span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  -webkit-transform: 0.5s;
          transform: 0.5s;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
h2:hover span:nth-child(2) {
  -webkit-transform: translateY(18px);
          transform: translateY(18px);
}
h2 span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  -webkit-transform: 0.5s;
          transform: 0.5s;
  -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
          clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
h2:hover span:nth-child(3) {
  -webkit-transform: translateY(-50%) scaleY(1);
          transform: translateY(-50%) scaleY(1);
}
h2 span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) scaleY(0);
          transform: translateY(-50%) scaleY(0);
  width: 96%;
  color: #000;
  background-color: #ff0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.7em;
  text-align: center;
  padding-left: 20px;
  margin-left: 7px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

h1 {
  color: #fff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
}